<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="/frontend/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/frontend/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/frontend/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/frontend/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/frontend/css/nouislider.min.css">
	<link rel="stylesheet" href="/frontend/css/ionicons.min.css">
	<link rel="stylesheet" href="/frontend/css/plyr.css">
	<link rel="stylesheet" href="/frontend/css/photoswipe.css">
	<link rel="stylesheet" href="/frontend/css/default-skin.css">
	<link rel="stylesheet" href="/frontend/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

	<div class="sign section--bg" data-bg="/frontend/img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<div class="sign__form">
							<a href="/" class="sign__logo">
								<img src="/frontend/img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="UserName" id="username">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email" id="email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password" id="password">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Phone Number" id="phonenumber">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
							</div>
							
							<button class="sign__btn" onclick="signup()">Sign up</button>

							<span class="sign__text">Already have an account? <a href="/login">Sign in!</a></span>
						</div>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="/frontend/js/jquery-3.3.1.min.js"></script>
	<script src="/frontend/js/bootstrap.bundle.min.js"></script>
	<script src="/frontend/js/owl.carousel.min.js"></script>
	<script src="/frontend/js/jquery.mousewheel.min.js"></script>
	<script src="/frontend/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="/frontend/js/wNumb.js"></script>
	<script src="/frontend/js/nouislider.min.js"></script>
	<script src="/frontend/js/plyr.min.js"></script>
	<script src="/frontend/js/jquery.morelines.min.js"></script>
	<script src="/frontend/js/photoswipe.min.js"></script>
	<script src="/frontend/js/photoswipe-ui-default.min.js"></script>
	<script src="/frontend/js/main.js"></script>
</body>
<script>
	function signup() {
		let username = $('#username').val();
		let password = $('#password').val();
		let email = $('#email').val();
		let phoneNumber = $('#phonenumber').val();
		let a = {
			"username":username,
			"password":password,
			"email":email,
			"phoneNumber":phoneNumber
		}
		$.ajax({
			headers:{
				'Accept':'application/json',
				'Content-Type': 'application/json'
			},
			data:JSON.stringify(a),
			type:"POST",
			url:"/api/account",
			success:function (res){
				if (res.status==1){
					debugger
					alert("Dang ky thanh cong!")
					 $('#username').val('');
					 $('#password').val('');
					$('#email').val('');
					 $('#phonenumber').val('');
				}
			},
			error:function (){
				alert("ngu"
				)
			}
		})
	}
</script>
</html>